// fonts
$font-main: 'Roboto', sans-serif;
$font-second: 'Roboto Slab', serif;

// colours
$colorBrand-1: #ffffff;
$colorBrand-2: #f26002;
$colorBrand-3: #000000;
$colorBrand-4: #0271bc;
$colorBrand-5: #8ccbea;
$colorBg-1: #eff9ff;
$colorBg-2: #304268;



