.footer{
  height: 465px;
  background-color: $colorBg-2;
  padding: 60px 15px 45px 15px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  color: $colorBrand-1;
  

  &__nav {
   text-transform: uppercase;
   margin-bottom: 30px;
   
   &--link{
     text-decoration: none;
     color: $colorBrand-1;
     line-height: 1.88;
   }

   &--item{
     list-style: none;
   }
   
  }

  &__small{
    display: block;
    font-size: 14px;
    line-height: 2.14;
    
  }

  &__button--link{
      position: absolute;    
      bottom: -1020px;
      height: 45px;
      width: 45px;
      left: 45vw;
      border-radius: 50px;
      margin: 0 auto;
      background-color: $colorBrand-1;

      &--icon{
          /*Centrar flecha*/
      }
  }
  }

  .fa-heart{
    color: $colorBrand-2;
  }
  


