.header{
  top: 0;
  left: 0;
  z-index: 3;
  position: fixed;

  &__nav{
    width: 44px;
    height: 44px;
    background-color:
    $colorBrand-4 ;

    &--button{
      position: absolute;
      top: 15px;
      left: 14px;
    }
  }
}