.hero{
    background: url(../images/cover.jpg) center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 284px;
    text-align: center;
    color: $colorBrand-1;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);

    &__title--main{
        text-transform: uppercase;
        font-family: $font-second;
        font-weight: 500;
        font-size: 42px;
        margin-bottom: 10px;
        line-height: 1.31;
        
        &--item {
            display: block;
        }
    }

    &__title--sub{
        font-size: 16px;
        margin-bottom: 45px;
        font-family: $font-main;
    }

    &__button--link{
        height: 45px;
        width: 45px;
        border-radius: 50px;
        margin: 0 auto;
        background-color: $colorBrand-1;
        margin-bottom: 45px;
        transition: all 1s;
        
        &:hover{
            transform: scale(1.2);
        }

        &--icon{
            margin: 18px auto;
        }
    }
}

@include tablet {
    .hero{

        padding-top: 300px;

       &__title--main{
           font-size: 80px;
           line-height: 106px;
           margin-bottom: 20px;
       }

       &__title--sub{
           font-size: 24px;
           margin-bottom: 30px;
       }
       
    }
}

@include desktop{
    .hero{

       &__title--main{
           font-size: 100px;
           line-height: 1.32;
           margin-bottom: 20px;
       }
       
    }

}